textarea {
    height: 100%;
    resize: none;
}

.card-body {
    overflow: auto;
}

.small-caps {
    font-variant: small-caps;
}

.small-gray {
    font-size: small;
    color: gray;
}

.full-height {
    height: 900px;
}

.half-height {
    height: 450px;
}

.one-third-height {
    height: 300px;
}

.quarter-height {
    height: 225px;
}
