services:

  traefik:
    image: traefik:v3.5
    restart: unless-stopped
    networks:
      - passkey-network
    expose:
      - 80
      - 443
    ports:
      - 0.0.0.0:80:80
      - 0.0.0.0:443:443
    healthcheck:
      test: traefik healthcheck
      interval: 10s
      timeout: 10s
      retries: 15
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - traefik-logs:/mnt/logs
      - traefik-acme:/mnt/acme
    environment:
      # providers
      - TRAEFIK_PROVIDERS_DOCKER=true
      - TRAEFIK_PROVIDERS_DOCKER_EXPOSEDBYDEFAULT=false
      # ping
      - TRAEFIK_PING=true
      # logs
      - TRAEFIK_LOG=true
      - TRAEFIK_LOG_FILEPATH=/mnt/logs/traefik.log
      - TRAEFIK_ACCESSLOG=true
      - TRAEFIK_ACCESSLOG_FILEPATH=/mnt/logs/access.log
      - TRAEFIK_ACCESSLOG_BUFFERINGSIZE=100
      # entrypoints
      - TRAEFIK_ENTRYPOINTS_WEB=true
      - TRAEFIK_ENTRYPOINTS_WEB_ADDRESS=:80
      - TRAEFIK_ENTRYPOINTS_WEBSECURE=true
      - TRAEFIK_ENTRYPOINTS_WEBSECURE_ADDRESS=:443
      # certificates
      - TRAEFIK_CERTIFICATESRESOLVERS_LETSENCRYPT_ACME_TLSCHALLENGE=true
      - TRAEFIK_CERTIFICATESRESOLVERS_LETSENCRYPT_ACME_EMAIL=
      - TRAEFIK_CERTIFICATESRESOLVERS_LETSENCRYPT_ACME_STORAGE=/mnt/acme/acme.json

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    networks:
      - passkey-network
    expose:
      - 4173
    ports:
      - 127.0.0.1:4173:4173
    healthcheck:
      test: curl -f http://localhost:4173 || exit 1
      interval: 10s
      timeout: 10s
      retries: 15
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.entrypoints=web,websecure"
      - "traefik.http.routers.frontend.rule=Host(`${FRONTEND_EXTERNAL_DOMAIN:-frontend.docker.localhost}`)"
      - "traefik.http.routers.frontend.tls.certresolver=letsencrypt"
      - "traefik.http.services.frontend.loadbalancer.server.port=4173"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    networks:
      - passkey-network
    expose:
      - 3000
    ports:
      - 127.0.0.1:3000:3000
    healthcheck:
      test: wget --spider -q http://localhost:3000/api/health || exit 1
      interval: 10s
      timeout: 10s
      retries: 15
    volumes:
      - backend-data:/data
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.entrypoints=web,websecure"
      - "traefik.http.routers.backend.rule=Host(`${BACKEND_EXTERNAL_DOMAIN:-backend.docker.localhost}`)"
      - "traefik.http.routers.backend.tls.certresolver=letsencrypt"
      - "traefik.http.services.backend.loadbalancer.server.port=3000"
    environment:
      - NODE_ENV=${NODE_ENV:-development} # development | production
      - PORT=3000
      - DATA_FILE=/data/database.json

networks:
  passkey-network:
    name: passkey-network

volumes:
  traefik-logs:
  traefik-acme:
  backend-data:
