textarea {
    height: 100%;
    resize: none;
}

.card-body {
    overflow: auto;
}

.small-caps {
    font-variant: small-caps;
}

.small-gray {
    font-size: small;
    color: gray;
}

.full-height {
    height: 900px;
}

.half-height {
    height: 450px;
}

.one-third-height {
    height: 300px;
}

.quarter-height {
    height: 225px;
}

.fifth-height {
    height: 180px;
}

.keys-table {
    table-layout: fixed;
    width: 100%;
}

.keys-table th:nth-child(1),
.keys-table td:nth-child(1) {
    width: 10%;
    white-space: nowrap;
    overflow: auto;
}

.keys-table th:nth-child(2),
.keys-table td:nth-child(2),
.keys-table th:nth-child(3),
.keys-table td:nth-child(3),
.keys-table th:nth-child(4),
.keys-table td:nth-child(4) {
    width: 10%;
    white-space: nowrap;
    overflow: auto;
}

.keys-table th:nth-child(5),
.keys-table td:nth-child(5),
.keys-table th:nth-child(6),
.keys-table td:nth-child(6) {
    width: 30%;
    white-space: nowrap;
    overflow: auto;
}
